
<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Sosyal Medya Hesaplarımız</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>

        <div>
            <div class="table-responsive">
                <table class="table table-hover without-header">
                    <tbody>

                        <tr>
                            <td>

                                <div>

                                    <div class="d-inline-block">
                                        <a href="https://intagram.com/emre.sener"><h4><img src="https://freepngimg.com/thumb/instagram/118541-logo-instagram-png-download-free.png" style="margin-left:20px" height="70px" />Instagram</h4></a>


                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div>

                                    <div class="d-inline-block">
                                        <a href="https://github.com/Emresenerv"><h4><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" style="margin-left:30px" />   Github</h4></a>


                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div>

                                    <div class="d-inline-block">
                                        <a href="https://linkedin.com/emresenervan"><h4><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" height="65px" style="margin-left:30px" />   LinkedIn</h4></a>


                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>


