<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="~/Templates/material_able-main/assets/images/IMG_3428.jpg" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">Admin</span>
                </div>
            </div>
            
        </div>
        
        
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/Default/Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-panel"></i><b>D</b></span>
                    <span class="pcoded-mtext">Ana Sayfa</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Dashboard/Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/ClassRoomm/Class" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-pencil"></i><b>D</b></span>
                    <span class="pcoded-mtext">Sınıflar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/Student/StudentList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                    <span class="pcoded-mtext">Öğrenciler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/Teacher/TeacherList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-receipt"></i><b>D</b></span>
                    <span class="pcoded-mtext">Öğretmenler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/Family/FamilyList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-write"></i><b>D</b></span>
                    <span class="pcoded-mtext">Veliler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/BookASeat/SeatList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-email"></i><b>D</b></span>
                    <span class="pcoded-mtext">Gelen Mesajlar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/AdminService/Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-link"></i><b>D</b></span>
                    <span class="pcoded-mtext">Hizmetlerimiz</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/BookASeat/SeatList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-paint-bucket"></i><b>D</b></span>
                    <span class="pcoded-mtext">Rezervasyonlar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Lesson/Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-import"></i><b>D</b></span>
                    <span class="pcoded-mtext">Ders Takip Sistemi</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Bulletin/Bulletin" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-comment-alt"></i><b>D</b></span>
                    <span class="pcoded-mtext">Bülten</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/AdminContact/Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-headphone-alt"></i><b>D</b></span>
                    <span class="pcoded-mtext">İletişim Bilgileri</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/DashboardGallery/GalleryList" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-gallery"></i><b>D</b></span>
                    <span class="pcoded-mtext">Galeri</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>


        </ul>
      
    </div>
</nav>
