@model List<KidKinder.Entities.Communication>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">


                <div class="card">
                    <div class="card-header">
                        <h5>İletişim Listesi</h5>
                        <span>İletişim ile ilgi işlem yapabileceğiniz alandır. </span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mesai Bilgisi</th>
                                        <th>Adres</th>
                                        <th>Email </th>
                                        <th>Telefon</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.Description</td>
                                            <td>@item.Address</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td><a href="/Teacher/DeleteTeacher/@item.CommunicationId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Teacher/UpdateTeacher/@item.CommunicationId" class="btn btn-success">Güncelle</a></td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                            <a href="/AdminContact/CreateContact/" class="btn btn-primary">Yeni iletişim  Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
